*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body{
    /* background-color: rgb(252, 243, 207); */
    /* background-color: hsl(168, 55%, 88%); */
    background-color: #EBDEF0;
    font-family: 'Tilt Neon', cursive;
    /* margin: 20px;  */
}



main{
    display: flex;
    flex-direction: row; /* values: row | column | row-reverse | column-reverse */ 
    /* clear: both; */
}

aside{
    /* float: left; */
    background-color: burlywood;
    width: 20%;
    /* height: 1090px; */
}

aside .enlaces{
    text-decoration: none;
    display: block;
    margin: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

aside blockquote{
    margin: 10px;
    text-align: justify;
}

section{
    /* float: right; */
    background-color: aquamarine;
    width: 80%;
    display: flex;
    flex-wrap: wrap; /* values: wrap | nowrap*/
    justify-content: space-evenly;
}

section article{
    width: 400px;
    border: 2px solid #000;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    /* float: left; */
}

section article header{
    background-color: #000;
    color: white;
}

figure img{
    width: 100%;
    height: 250px;
}

figure figcaption{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notas{
    margin: 10px;
    background-color: beige;
}

.notas .titulo_noticia{
    margin-bottom: 15px;
}



@media (max-width: 678px){


    main{
        flex-direction: column;
    }

    main aside{
        width: 100%;
    }

    .links{
        display: flex;
    }

    .links .enlaces{
        width: 50%; 
    }

    main section{
        background-image: linear-gradient(115deg, blue, green, gray);
        width: 100%;
    }

    main section article{
        width: 95%;
    }


}