*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

h1{
    margin-bottom: 20px;
}

.controles{
    display: flex;
    gap: 10px;
}

#backButton{
    background-color: black; 
    border: none;
    padding: 9px; 
    color: white; 
    text-decoration: none;
    text-align: center;
}

#editarDatos, #editarPassword, #editarFoto, #removerPerfil{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#backButton:hover, #editarDatos:hover, #editarPassword:hover, #editarFoto:hover, 
#removerPerfil:hover {
    background-color: gold;
    color: #000;
}
